

.BatterySlide1Mobile {
  background-color: #f8f8e6;
  color: #004638;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.BatterySlide1TopMobile {

}

.BatteryTitleMobile {
  font-size: 40px;
  color: #f8f8e6;
  text-shadow: -2px 0 #004638, 0 2px #004638, 2px 0 #004638, 0 -2px #004638;
  border: 4px solid #004638;
  box-shadow: 4px 4px #004638;
  border-radius: 16px;
  padding: 8px;
}

.BatterySlide1BottomMobile {
  width: calc(100vw - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.BatteryScreenshot1Mobile {
  width: 640px;
  max-width: 50vmax;
  margin: 16px;
}

.BatteryParagraph1Mobile {
  width: 480px;
  font-size: 24px;
}

.BatterySlide2Mobile {
  background-color: #004638;
  background-image: url(../../../Assets/Battery_Monitoring/background1.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
}

.BatteryParagraph2Mobile {
  color: #004638;
  background: #d8f537;
  width: 720px;
  font-size: 24px;
  padding: 24px;
  border-radius: 16px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.BatterySlide3Mobile {
  background-color: #f8f8e6;
  color: #004638;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100vw - 10px);
}

.BatterySlide3RowMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px;
  width: calc(100vw - 10px);
}

.BatterySlide3BottomMobile {
  height: 100vh;
  width: calc(100vw - 10px);
  background-image: url(../../../Assets/Battery_Monitoring/BatteryBottomMobile.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BatterySlide3BottomTopMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.BatteryScreenshot3Mobile {
  border-radius: 16px;
  width: 640px;
  max-width: 50vmax;
  margin: 16px;
}

.BatteryParagraph3Mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  font-size: 24px;
}

.BatteryParagraph3BottomMobile {
  margin-top: 80px;
  background-color: #f8f8e6;
  padding: 8px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  font-size: 24px;
}

.Youtube-LinkMobile {
  border: 4px solid #004638;
  box-shadow: 4px 4px #004638;
  color: #004638;
  text-decoration: none;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 8px;
}

.Youtube-LinkMobile:hover {
  cursor: pointer;
}

.Youtube-LinkMobile:active {
  margin-left: 4px;
  margin-top: 4px;
  box-shadow: 0px 0px #004638;
}
