@media (max-width: 1200px) {

  .Toggle {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 256px;
    border-radius: 10px;
    background-color: #004638;
    color: #f6f6f6;
  }

  .Toggle:hover {
    cursor: pointer;
  }

  .ToggleNoHoverPointer {
    font-size: 16px;
    margin-top: 32px;
    width: 128px;
    border-radius: 10px;
    background-color: #004638;
    color: #f6f6f6;
  }

}