@media (max-width: 1200px) {

  .ControlPage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .LeftControl {
    display: flex;
    flex-direction: column;
  }

  .MobileControl {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-items: center;
  }

  .RightControl {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -32px;
  }

  .Ac {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #f6f6f6;
  }
  
  .UserPageButton {
    background-color: #004638;
    color: #f6f6f6;
    height: 48px;
    width: 48px;
    font-size: 32px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 24px 0px 24px 16px;
  }
  
  .UserPageButton:active {
    background-color: #82bf00;
    color: #004638;
  }  

  .Loading {
    height: 10vh;
    margin-left: 2vw;
  }
  
  .MessageToSendNowForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .MessageToSendNowInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .messageToSend {
    background-color: #f6f6f6;
    border: 3px solid #004638;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 5vh;
    width: 80vw;
    font-size: medium;
  }
  
  h6 {
    color: red;
    margin: 1px;
  }
  
  .SubmitMessageToSendNow {
    align-self: flex-end;
    background-color: #004638;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: -64px;
    width: 200px;
    color: #f6f6f6;
    border: none;
    font-family: Gilroy-Medium,Helvetica,Arial,sans-serif;
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  .SubmitMessageToSendNow:hover {
    cursor: pointer;
    background-color: #82bf00;
  }

  .SubmitMessageToSendNow:active {
    color: #004638;
    background-color: #d8f537;
  }
  
}