.PageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.DisplayedExperience {
  margin-top: 10vmin;
  min-width: 85vmin;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f8f8e6;
  color: #282c34;
  box-shadow: 4vmin 4vmin black;
}

.TopButtonsDisplayExperience {
  min-width: 80vmin;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.CloseExperience {
  margin: 1vmin 0vmin 0vmin 1vmin;
  font-size: 5vmin;
}
.CloseExperience:hover {
  cursor: pointer;
}

.ChangeLanguage {
  margin: 1vmin 3vmin 0vmin 0vmin;
  position: relative;
  height: 5vmin;
  width: 5vmin;
  background-color: #f8f8e6;
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vmin;
  font-size: 3vmin;
  border: 0.5vmin solid #282c34;
  box-shadow: 0.2vmin 0.2vmin #282c34;
}
.ChangeLanguage:hover {
  cursor: pointer;
  background-color:#282c34;
  color: #f8f8e6;
}


.SingleExperience {
  margin: 0vmin 3vmin 3vmin 3vmin;
  font-size: calc(10px + 2vmin);
}


.ExperienceDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0vmin 0vmin 0vmin 5vmin;
}

.expLine {
  text-align: left;
}