@media (min-width: 1024px) {

  .UserPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
  }
  
  h1 {
    color: #f6f6f6;
  }
  
  .namefield {
    margin-top: 4%;
    background-color: #004638;
    width: 30vw;
    border-radius: 10px;
  }
  
  .DisconnectButton {
    margin-top: 1%;
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 3vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .DisconnectButton:hover {
    cursor: pointer;
    background-color: #82bf00;
  }
  
  .DisconnectButton:active {
    background-color: #82bf00;
    cursor: pointer;
  }

  .SendSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Sliders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .AutomaticSettings {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
  }
    
  .TurnOnAuto {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .TurnOnAuto:hover {
    cursor: pointer;
    background-color: #82bf00;
  }
  
  .TurnOnAuto:active {
    cursor: pointer;
    background-color: #82bf00;
  }
  
  .TurnOffAuto {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .TurnOffAuto:hover {
    cursor: pointer;
    background-color: #d32f2f;
  }
  
  .TurnOffAuto:active {
    cursor: pointer;
    background-color: #d32f2f;
  }

  .SendSettingsButton {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .SendSettingsButton:hover {
    cursor: pointer;
    color: #004638;
    background-color: #d8f537;
  }
  
  .SendSettingsButton:active {
    cursor: pointer;
    color: #004638;
    background-color: #d8f537;
  }

  .FormikUser {
    margin-bottom: 2%;
  }

}