@media (max-width: 1200px) {

  .UserPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  h1 {
    color: #f6f6f6;
  }
  
  .namefield {
    margin-top: 64px;
    background-color: #004638;
    width: 80vw;
    border-radius: 10px;
  }
  
  .DisconnectButton {
    margin-top: 16px;
    margin-bottom: 32px;
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 3vh;
    border-radius: 10px;
    font-size: 24px;
  }
  
  .DisconnectButton:active {
    background-color: #82bf00;
    cursor: pointer;
  }

  .SendSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Sliders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }

  .AutomaticSettings {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
    
  .TurnOnAuto {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 8px;
  }
  
  .TurnOnAuto:active {
    cursor: pointer;
    background-color: #82bf00;
  }
  
  .TurnOffAuto {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 8px;
  }
  
  .TurnOffAuto:active {
    cursor: pointer;
    background-color: #d32f2f;
  }

  .SendSettingsButton {
    background-color: #004638;
    color: #f6f6f6;
    border: none;
    padding: 2vh;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 8px;
  }
  
  .SendSettingsButton:active {
    cursor: pointer;
    color: #004638;
    background-color: #d8f537;
  }
  
  .FormikUser {
    margin-bottom: 8vh;
  }

}