.Header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 4px solid #82bf00; 
}

.HeaderSelection {
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: 4px solid #82bf00;
  border-bottom-width: 0%;
  margin-bottom: 50px;
  -webkit-animation: selection 0.25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: selection 0.25s; /* Firefox < 16 */
   -ms-animation: selection 0.25s; /* Internet Explorer */
    -o-animation: selection 0.25s; /* Opera < 12.1 */
    animation: selection 0.25s;
}
@keyframes selection {
  from {border-bottom-width: 100%;}
  to {border-bottom-width: 0%;}
}
/* Firefox < 16 */
@-moz-keyframes selection {
  from {border-bottom-width: 100%;}
  to {border-bottom-width: 0%;}
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes selection {
  from {border-bottom-width: 100%;}
  to {border-bottom-width: 0%;}
}
/* Internet Explorer */
@-ms-keyframes selection {
  from {border-bottom-width: 100%;}
  to {border-bottom-width: 0%;}
}
/* Opera < 12.1 */
@-o-keyframes selection {
  from {border-bottom-width: 100%;}
  to {border-bottom-width: 0%;}
}

.HeaderSelection:hover {
  cursor: pointer;
  padding-bottom: 6px;
  border-bottom: 4px solid #82bf00;
  border-bottom-width: 100%;
  margin-bottom: 50px;
  -webkit-animation: selectionHover 0.25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: selectionHover 0.25s; /* Firefox < 16 */
   -ms-animation: selectionHover 0.25s; /* Internet Explorer */
    -o-animation: selectionHover 0.25s; /* Opera < 12.1 */
    animation: selectionHover 0.25s;
}
@keyframes selectionHover {
  from {border-bottom-width: 0%;}
  to {border-bottom-width: 100%;}
}
/* Firefox < 16 */
@-moz-keyframes selectionHover {
  from {border-bottom-width: 0%;}
  to {border-bottom-width: 100%;}
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes selectionHover {
  from {border-bottom-width: 0%;}
  to {border-bottom-width: 100%;}
}
/* Internet Explorer */
@-ms-keyframes selectionHover {
  from {border-bottom-width: 0%;}
  to {border-bottom-width: 100%;}
}
/* Opera < 12.1 */
@-o-keyframes selectionHover {
  from {border-bottom-width: 0%;}
  to {border-bottom-width: 100%;}
}