@media (max-width: 1023px) {
  .main {
    min-height: 90vh;
    font-weight: 700;
    max-width: 1280px;
    width: 98vw;
    text-align: left;
  }

  .title {
    color: #004638;
    font-size: 56px;
    line-height: 68px;
  
  }
  
  .secondary-title {
    color: #82bf00;
    font-size: 24px;
  }
  
  .main-text {
    display: flex;
    flex-direction: column;
  }
  
  .upper-text {
    color: #004638;
    background: linear-gradient(180deg,#f6f6f6 0%,#f6f6f6 30%,#d8f537 31%,#d8f537 100%);
    font-size: 40px;
  }
  
  .lower-text {
    color: #004638;
    font-size: 21px;
    line-height: 1.524;
  }
  
  .links {
    display: flex;
  }
  
  .link1 {
    background: #f1f4f5;
    margin: 32px;
    width: 40%;
    height: 40%;
  }
  
  .link2 {
    background: #f1f4f5;
    margin: 32px;
    width: 40%;
    height: 40%;
  }
}