@media (min-width: 1024px) {
  .main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    max-width: 1280px;
    width: 98vw;
    text-align: left;
  }
  
  .main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .main-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .title {
    color: #004638;
    font-size: 80px;
    line-height: 85px;
    width: 50%;
  }
  
  .secondary-title {
    color: #82bf00;
    font-size: 32px;
    width: 90%;
  }
  
  .main-text {
    display: flex;
    flex-direction: column;
  }
  
  .upper-text {
    display: flex;
    margin-bottom: 100px;
  }

  .highlighted-text {
    color: #004638;
    background: linear-gradient(180deg,#f6f6f6 0%,#f6f6f6 30%,#d8f537 31%,#d8f537 100%);
    font-size: 40px;
    margin-top: 60px;
  }
  
  .lower-text {
    color: #004638;
    font-size: 21px;
    line-height: 1.524;
    font-weight: 500;
  }
  
  .links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .link1 {
    background: #f1f4f5;
    margin: 32px;
    width: 40%;
    height: 40%;
  }
  
  .link2 {
    background: #f1f4f5;
    width: 40%;
    height: 40%;
    margin: 32px;
  }
}