@media (max-width: 1023px) {

  .MessageInfo {
    border: 4px solid #004638;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin: 4px;
  }

  .MessageBoxLeft {
    background-color: #004638;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px;
  }

  .MessageBoxRight {
    background-color: #f6f6f6;
    color: #004638;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4px;
    font-weight: bold;
  }

  .UpperBorder {
    border-top: 2px solid #004638;
  }
}