/* MOBILE */
@media (max-width: 1200px) {
  .app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .app-main {
    max-width: 1200px;
    width: 100vw;
    margin-top: 84px;
  }
  
  .error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    height: 100vh;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .app-main {
    max-width: 1200px;
    width: 100vw;
  }
  
  .error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    height: 100vh;
  }
}